body,
html {
    height: 100%;
    min-height: 100%;
}

button {
    border-radius: 3px;
}

#root {
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    height: 3.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    background: #60b5cc;
}

.nav-logo {
    width: 2.5rem;
    padding: 0 0.5rem;
    margin-right: 1rem;
}

.nav-link,
.nav-link:hover {
    color: #fff;
}

.main {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.box {
    border-radius: 3px;
}

.items {
    max-width: 64rem;
}

.item-container {
    font-size: 1rem;
    padding-left: 0.5rem;
    margin: 0 0 1rem;
}

.item {
    font-size: 1rem;
}

.item-header {
    margin-bottom: 0.2rem;
}

.item-title {
    display: inline-block;
    margin: 0 0.35rem 0 0;
}

.item-url,
.item-url:hover {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
}

.item-domain {
    color: #6c757d;
}

.item-details {
    font-size: 0.875rem;
    color: #6c757d;
}

.item-poster {
    padding-right: 0.5rem;
    border-right: 1px solid #6c757d;
}

.item-comments {
    margin-left: 0.5rem;
}

.error {
    display: inline-block;
    padding: 0.25rem;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebcccc;
}
