body, html {
    height: 100%;
    min-height: 100%;
}

button {
    border-radius: 3px;
}

#root {
    height: 100%;
    padding: 0.5rem;
}

.box {
    border-radius: 3px;
}

.item-details {
    padding-right: 0.5rem;
    border-right: 1px solid gray;
}

.item-comments {
    margin-left: 0.5rem;
}

.error {
    display: inline-block;
    padding: 0.25rem;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebcccc;
}
